<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="~{fragments/layoutAdmin::header(pageTitle='Sửa sản phẩm')}"></div>
</head>
<body>

<div id="wrapper">

    <!-- Navigation -->
    <div th:replace="~{fragments/layoutAdmin::navigation}"></div>

    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12" style="display:flex;justify-content:space-between;align-items:center;">
                    <h1 class="page-header">Sửa nhóm hàng hóa</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <form>
                        <div class="form-group">
                            <label for="name"> Tên hàng</label>
                            <input type="text" class="form-control" id="name" th:value="${product.productName}">
                        </div>

                        <div class="form-group">
                            <label for="unitId" class="form-label">Chọn DVT</label>
                            <select class="form-select form-control" id="unitId" name="unitList">
                                <option selected disabled hidden> Hiển thị danh sách </option>
                                <option th:each="unit:${listUnit}" th:value="*{unit.getId()}" th:text="*{unit.getName()}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="CaId" class="form-label">Chọn nhóm hàng</label>
                            <select class="form-select form-control" id="CaId" name="unitList">
                                <option selected disabled hidden> Hiển thị danh sách </option>
                                <option th:each="ca:${listCa}" th:value="*{ca.getId()}" th:text="*{ca.getName()}"></option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="price">Giá</label>
                            <input type="text" class="form-control" id="price" placeholder="" th:value="${product.price}">
                        </div>
                        <div class="form-group">
                            <label for="mota">Mô tả</label>
                            <input type="text" class="form-control" id="mota" placeholder="" th:value="${product.content}" >
                        </div>
                        <!-- Khong dung img-->
                    </form>
                    <div>
                        <button  class="btn btn-secondary" id="huy" >Hủy</button>
                        <button  class="btn btn-primary" id="sua" >Sửa</button>
                    </div>

                </div>
            </div>

            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->

</div>
<div th:replace="~{fragments/layoutAdmin::jscript}"></div>
<script th:inline="javascript">
    let id=[[${product.id}]];
    let name=$("#name");
    let unitId=$("#unitId");
    let caId=$("#CaId");
    let price=$("#price");
    let mota=$("#mota");

    $("#huy").on("click",function (){
        name.val("");
        unitId.val("");
        caId.val("");
        price.val("");
        mota.val("");
    });
    $("#sua").click(function (){
        $.ajax({
            url:"/api/product/update",
            type:"PUT",
            data:JSON.stringify({
                "id":id,
                "name":name.val(),
                "unitId":unitId.val(),
                "categoryId":caId.val(),
                "price":price.val(),
                "content":mota.val(),
                "img":null
            }),
            contentType:'application/json',
            success:function(result){
                alert("Sửa thành công!");
            },
            error:function(exception){
                alert("Sửa thất bại!");
            }
        });
    });
</script>

</body>
</html>
</title>
</head>
<body>

</body>
</html>