<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="~{fragments/layoutAdmin::header(pageTitle='Quản lý sản phẩm')}"></div>
</head>
<body>

<div id="wrapper">

    <!-- Navigation -->
    <div th:replace="~{fragments/layoutAdmin::navigation}"></div>

    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12" style="display:flex;justify-content:space-between;align-items:center;">
                    <h1 class="page-header">Quản lý Sản Phẩm</h1>
                    <div>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#formAdd"> Thêm</button>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#formDelete">Xóa</button>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
                <!-- core dialog -->
            </div>
            <!-- POST -->
            <div class="row">
                <div class="col-lg-12" >
                    <div class="modal fade" id="formAdd" tabindex="-1" role="dialog" aria-labelledby="addCateCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header" style="display:flex;justify-content:space-between;">
                                    <h3 class="modal-title" id="addCaLongTitle" style="font-weight: bold">Thêm Sản Phẩm</h3>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">

                                    <form>
                                        <div class="form-group">
                                            <label for="name"> Tên hàng</label>
                                            <input type="text" class="form-control" id="name" placeholder="">
                                        </div>
                                        <div class="form-group">
                                            <label for="unitId" class="form-label">Chọn DVT</label>
                                            <select class="form-select form-control" id="unitId" name="unitList">
                                                <option th:each="unit:${listUnit}" th:value="*{unit.getId()}" th:text="*{unit.getName()}"></option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="CaId" class="form-label">Chọn nhóm hàng</label>
                                            <select class="form-select form-control" id="CaId" name="unitList">
                                                <option th:each="ca:${listCa}" th:value="*{ca.getId()}" th:text="*{ca.getName()}"></option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label for="price">Giá</label>
                                            <input type="text" class="form-control" id="price" placeholder="">
                                        </div>
                                        <div class="form-group">
                                            <label for="mota">Mô tả</label>
                                            <input type="text" class="form-control" id="mota" placeholder="">
                                        </div>
                                        <!--<?>-->
                                        <div class="form-group">
                                            <label for="fileupload">Chọn hình ảnh</label>
                                            <input id="fileupload" type="file" name="fileupload" class="form-control">
                                        </div>

                                    </form>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                    <button type="button" class="btn btn-primary" id="btn-add">Thêm</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Delete-->
            <div class="row">
                <div class="col-lg-12" >
                    <div class="modal fade" id="formDelete" tabindex="-1" role="dialog" aria-labelledby="deleteProductCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header" style="display:flex;justify-content:space-between;">
                                    <h3 class="modal-title" id="deleteProductLongTitle" style="font-weight: bold">Xóa sản phẩm</h3>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Bạn có chắc muốn xóa sản phẩm này không?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Hủy</button>
                                    <button type="button" class="btn btn-danger" onclick="deleteProduct()">Xóa</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <div class="row" >
                <div class="col-lg-12" >
                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col"> <input type="checkbox" id="validCheck" value=""> </th>
                            <th scope="col">STT</th>
                            <th scope="col">Tên hàng</th>
                            <th scope="col" >Đơn vị tính</th>
                            <th scope="col">Nhóm hàng</th>
                            <th scope="col">Giá</th>
                            <th scope="col" >Mô tả</th>
                            <th scope="col"> Edit </th>
                        </tr>
                        </thead>
                        <tbody id="ProductTable">
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->

</div>
<div th:replace="~{fragments/layoutAdmin::jscript}"></div>
<script th:src="@{/js/product.js}"></script>

</body>
</html>
