<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Startmin - Bootstrap Admin Theme</title>

    <!-- Bootstrap Core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link th:href="@{/css/metisMenu.min.css}" rel="stylesheet">

    <!-- Timeline CSS -->
    <link th:href="@{/css/timeline.css}" rel="stylesheet">

    <!-- Custom CSS -->
    <link th:href="@{/css/startmin.css}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link th:href="@{/css/morris.css}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" type="text/css">

    <style>
        .cart_product_desc h5{
            font-weight: bold;
        }

    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js}"></script>
    <![endif]-->
</head>
<body>
<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{../quanlynhomhang.html}">Startmin</a>
        </div>

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <ul class="nav navbar-nav navbar-left navbar-top-links">
            <li><a href="#"><i class="fa fa-home fa-fw"></i> Website</a></li>
        </ul>

        <ul class="nav navbar-right navbar-top-links">
            <li class="dropdown navbar-inverse">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-bell fa-fw"></i> <b class="caret"></b>
                </a>
                <ul class="dropdown-menu dropdown-alerts">
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-comment fa-fw"></i> New Comment
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                <span class="pull-right text-muted small">12 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-envelope fa-fw"></i> Message Sent
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-tasks fa-fw"></i> New Task
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>See All Alerts</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> secondtruth <b class="caret"></b>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li><a th:href="@{../login.html}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search.">
                            <span class="input-group-btn">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                </span>
                        </div>
                        <!-- /input-group -->
                    </li>
                    <li>
                        <a th:href="@{../quanlynhomhang.html}" class="active"><i class="fa fa-dashboard fa-fw"></i>
                            Dashboard</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a th:href="@{../flot.html}">Flot Charts</a>
                            </li>
                            <li>
                                <a th:href="@{../morris.html}">Morris.js Charts</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a th:href="@{../tables.html}"><i class="fa fa-table fa-fw"></i> Tables</a>
                    </li>
                    <li>
                        <a th:href="@{../forms.html}"><i class="fa fa-edit fa-fw"></i> Forms</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-wrench fa-fw"></i> UI Elements<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a th:href="@{../panels-wells.html}">Panels and Wells</a>
                            </li>
                            <li>
                                <a th:href="@{../buttons.html}">Buttons</a>
                            </li>
                            <li>
                                <a th:href="@{../notifications.html}">Notifications</a>
                            </li>
                            <li>
                                <a th:href="@{../typography.html}">Typography</a>
                            </li>
                            <li>
                                <a th:href="@{../icons.html}"> Icons</a>
                            </li>
                            <li>
                                <a th:href="@{../grid.html}">Grid</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span
                                class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">Second Level Item</a>
                            </li>
                            <li>
                                <a href="#">Second Level Item</a>
                            </li>
                            <li>
                                <a href="#">Third Level <span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="#">Third Level Item</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Item</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Item</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Item</a>
                                    </li>
                                </ul>
                                <!-- /.nav-third-level -->
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-files-o fa-fw"></i> Sample Pages<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a th:href="@{../blank.html}">Blank Page</a>
                            </li>
                            <li>
                                <a th:href="@{../login.html}">Login Page</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12" style="display:flex;justify-content:space-between;align-items:center;">
                    <h1 class="page-header">Quản lý Phiếu Nhập Kho</h1>
                    <div>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#formAdd"> Thêm
                        </button>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#formDelete">Xóa
                        </button>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
                <!-- core dialog -->
            </div>
            <!-- POST -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="modal fade" id="formAdd" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document" style="width:85%;">
                            <div class="modal-content">
                                <div class="modal-header" style="display:flex;justify-content:space-between;">
                                    <h3 class="modal-title" id="addCaLongTitle" style="font-weight: bold">Phiếu Nhập
                                        Kho</h3>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12">
                                                    <form class="form-inline">
                                                        <div class=" form-group mb-2" style="margin-left: 15px; margin-right:15px;">
                                                            <input id="SelectProduct" class="form-control" type="text" list="AllProduct" placeholder="Nhập tên sản phẩm">
                                                            <datalist id="AllProduct">
                                                                <option th:each="product:${productL}" th:value="${product.productName}" th:id="${product.id}"></option>

                                                            </datalist>
                                                        </div>
                                                        <div class="form-group mx-sm-3 mb-2">
                                                            <label for="gia"> Giá</label>
                                                            <input type="text" class="form-control" id="gia">
                                                        </div>
                                                        <div class="form-group mx-sm-3 mb-2">
                                                            <label for="soluong"> Số lượng</label>
                                                            <input type="text" class="form-control" id="soluong">
                                                        </div>
                                                        <div class="form-group mx-sm-3 mb-2">
                                                            <button type="submit" id="addProduct" class="btn btn-primary mb-2">Thêm</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="row" style="margin-top:10px">
                                                <div class="col-lg-12 col-md-12 col-sm-12">
                                                    <div class="cart-table clearfix">
                                                        <table class="table table-responsive" tabindex="1" style="overflow: hidden; outline: none;">
                                                            <thead style="background-color:#0000FF; color:white;">
                                                            <tr>
                                                                <th scope="col">Tên hàng</th>
                                                                <th scope="col">DVT</th>
                                                                <th scope="col">Giá Vốn</th>
                                                                <th scope="col">Số lượng</th>
                                                                <th scope="col">Thành tiền</th>
                                                                <th scope="col"></th>
                                                            </tr>
                                                            </thead>
                                                            <tbody class="table-striped" id="listProductTemp">
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" style="background-color: #f8cdc4">
                                                <div class="col-lg-4 col-md-4 col-sm-4"></div>
                                                <div class="col-lg-4 col-md-4 col-sm-4"><p style="color:red;font-weight:bold;position:relative; top:5px;">Tổng cộng: <span id="tongcong"> 0 VND</span> </p></div>
                                                <div class="col-lg-4 col-md-4 col-sm-4"></div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <form>
                                                <div class="form-group">
                                                    <label for="soChungTu"> Số Chứng Từ</label>
                                                    <input type="text" class="form-control" id="soChungTu" readonly>
                                                </div>
                                                <div class="form-group">
                                                    <label for="loainhapkho" class="form-label">Chọn Loại Nhập
                                                        Kho</label>

                                                    <select class="form-select form-control" id="loaiNhapKho">
                                                        <option> Nhập kho nội bộ</option>
                                                        <option> Nhập mua hàng</option>
                                                    </select>
                                                </div>

                                                <div class="form-group">
                                                    <label for="ngayGhiSo"> Ngày ghi sổ</label>
                                                    <input type="date" class="form-control" id="ngayGhiSo"
                                                           placeholder="">
                                                </div>

                                                <div class="form-group">
                                                    <label for="nccID" class="form-label">Nhà Cung Cấp</label>
                                                    <select class="form-select form-control" id="nccID">
                                                        <option th:each="ncc:${nccL}" th:value="*{ncc.getId()}"
                                                                th:text="*{ncc.getName()}"></option>
                                                    </select>
                                                </div>

                                                <div class="form-group">
                                                    <label for="khoID" class="form-label">Kho Hàng</label>
                                                    <select class="form-select form-control" id="khoID">
                                                        <option th:each="kho:${khoL}" th:value="*{kho.getId()}"
                                                                th:text="*{kho.getName()}"></option>
                                                    </select>
                                                </div>

                                                <div class="form-group">
                                                    <label for="nguoiNhan"> Người nhận</label>
                                                    <input type="text" class="form-control" id="nguoiNhan">
                                                </div>

                                                <div class="form-group">
                                                    <label for="ghiChu"> Ghi Chú</label>
                                                    <input type="text" class="form-control" id="ghiChu">
                                                </div>

                                            </form>
                                        </div>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                    <button type="button" class="btn btn-primary" onclick="addPNK()">Thêm</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Delete-->
            <div class="row">
                <div class="col-lg-12">
                    <div class="modal fade" id="formDelete" tabindex="-1" role="dialog"
                         aria-labelledby="deleteCateCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header" style="display:flex;justify-content:space-between;">
                                    <h3 class="modal-title" id="deleteCaLongTitle" style="font-weight: bold">Xóa nhóm
                                        hàng</h3>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Bạn có chắc muốn xóa nhóm hàng này không?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Hủy</button>
                                    <button type="button" class="btn btn-danger" onclick="deleteCate()">Xóa</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col"><input type="checkbox" id="validCheck" value=""></th>
                            <th scope="col">STT</th>
                            <th scope="col">Số chứng từ</th>
                            <th scope="col">Ngày ghi sổ</th>
                            <th scope="col">Loại</th>
                            <th scope="col">Nhà Cung Cấp</th>
                            <th scope="col">Kho Hàng</th>
                            <th scope="col">Số tiền</th>
                            <th scope="col">Ghi chú</th>
                            <th scope="col"> Edit</th>
                        </tr>
                        </thead>
                        <tbody id="PNKTable">
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script th:src="@{/js/jquery.min.js}"></script>

<!-- Bootstrap Core JavaScript -->
<script th:src="@{/js/bootstrap.min.js}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script th:src="@{/js/metisMenu.min.js}"></script>

<!-- Morris Charts JavaScript -->
<script th:src="@{/js/raphael.min.js}"></script>
<script th:src="@{/js/morris.min.js}"></script>
<script th:src="@{/js/morris-data.js}"></script>

<!-- Custom Theme JavaScript -->
<script th:src="@{/js/startmin.js}"></script>

<script th:src="@{/js/pnk.js}"></script>
</body>
</html>
