<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="~{fragments/layoutAdmin::header(pageTitle='Đổi mật khẩu')}"></div>
    <style>
        .formpasswd{
            margin-top: 75px;
        }
    </style>
</head>
<body>

<div id="wrapper">
    <div th:replace="~{fragments/layoutAdmin::navigation}"></div>
        <div class="container formpasswd">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 formpasswd">
                    <h1 class="text-center" style="font-weight:bold;color:#337ab7;">ĐỔI MẬT KHẨU</h1>
                    <div th:if="${param.error}" class="alert alert-danger" style="color:red;font-weight:bold;">
                        Đổi mật khẩu thất bại!
                    </div>
                    <div th:if="${param.success}" class="alert alert-success">
                        Đổi mật khẩu thành công!
                    </div>
                    <form method="post" id="passwordForm">
                        <div class="form-group">
                        <label for="passwd">Mật khẩu mới</label>
                        <input type="password" class="input-lg form-control" name="password1" id="passwd" autocomplete="off">
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <span id="8char" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span>Độ dài 8 kí tự<br>
                                <span id="ucase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> Một kí tự viết hoa
                            </div>
                            <div class="col-sm-6">
                                <span id="lcase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> Một kí tự viết thường<br>
                                <span id="num" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> Một chữ số
                            </div>
                        </div>
                        <div class="form-group">
                        <label for="passwd">Nhập lại mật khẩu mới</label>
                        <input type="password" class="input-lg form-control" name="password2" id="passwdConfirm" autocomplete="off">
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <span id="pwmatch" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span>
                                Mật khẩu khớp nhau!
                            </div>
                        </div>
                        <input type="submit" class="col-xs-12 btn btn-primary btn-load btn-lg"
                             id="btn-changepasswd"  data-loading-text="Changing Password..." value="Đổi mật khẩu">
                    </form>
                </div><!--/col-sm-6-->
            </div><!--/row-->
        </div>
</div>
<div th:replace="~{fragments/layoutAdmin::jscript}"></div>
<script> document.querySelector(".navbar-default.sidebar").remove(); </script>
<script th:src="@{/js/Account/passwd.js}"></script>

</body>
</html>
