<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="~{fragments/layoutAdmin::header(pageTitle='Quản lý DVT')}"></div>
</head>
<body>

<div id="wrapper">
    <div th:replace="~{fragments/layoutAdmin::navigation}"></div>
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12" style="display:flex;justify-content:space-between;align-items:center;">
                    <h1 class="page-header">Quản lý Đơn vị tính</h1>
                    <div>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#formAdd"> Thêm</button>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#formDelete">Xóa</button>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
                <!-- core dialog -->
            </div>
            <!-- POST -->
            <div class="row">
                <div class="col-lg-12" >
                    <div class="modal fade" id="formAdd" tabindex="-1" role="dialog" aria-labelledby="addCateCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header" style="display:flex;justify-content:space-between;">
                                    <h3 class="modal-title" id="addCaLongTitle" style="font-weight: bold">Thêm DVT</h3>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-group">
                                            <label for="name"> Đơn vị tính</label>
                                            <input type="text" class="form-control" id="name" placeholder="Nhập đơn vị tính">
                                        </div>
                                        <div class="form-group">
                                            <label for="mota">Mô tả</label>
                                            <input type="text" class="form-control" id="mota" placeholder="">
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                    <button type="button" class="btn btn-primary" onclick="addUNO()">Thêm</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Delete-->
            <div class="row">
                <div class="col-lg-12" >
                    <div class="modal fade" id="formDelete" tabindex="-1" role="dialog" aria-labelledby="deleteCateCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header" style="display:flex;justify-content:space-between;">
                                    <h3 class="modal-title" id="deleteCaLongTitle" style="font-weight: bold">Xóa nhóm hàng</h3>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Bạn có chắc muốn xóa nhóm hàng này không?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Hủy</button>
                                    <button type="button" class="btn btn-danger" onclick="deleteCate()">Xóa</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <div class="row" >
                <div class="col-lg-12" >
                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col"> <input type="checkbox" id="validCheck" value=""> </th>
                            <th scope="col">STT</th>
                            <th scope="col" >Đơn vị tính</th>
                            <th scope="col" >Mô tả</th>
                            <th scope="col"> Edit </th>
                        </tr>
                        </thead>
                        <tbody id="UnitTable">
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
</div>
<div th:replace="~{fragments/layoutAdmin::jscript}"></div>
<script th:src="@{/js/unitofmeasure.js}"></script>

</body>
</html>
