<!DOCTYPE html>
<html lang="en">
<head>
  <div th:replace="~{fragments/layoutAdmin::header(pageTitle='Quản lý Kho hàng')}"></div>
</head>
<body>

<div id="wrapper">

  <!-- Navigation -->
  <div th:replace="~{fragments/layoutAdmin::navigation}"></div>

  <div id="page-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12" style="display:flex;justify-content:space-between;align-items:center;">
          <h1 class="page-header">Thiết lập kho hàng</h1>
          <div>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#formAddCategory"> Thêm</button>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#formDeleteCategory">Xóa</button>
          </div>
        </div>
        <!-- /.col-lg-12 -->
        <!-- core dialog -->
      </div>
      <!-- POST -->
      <div class="row">
        <div class="col-lg-12" >
          <div class="modal fade" id="formAddCategory" tabindex="-1" role="dialog" aria-labelledby="addCateCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header" style="display:flex;justify-content:space-between;">
                  <h3 class="modal-title" id="addCaLongTitle" style="font-weight: bold">Thêm kho hàng</h3>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="form-group">
                      <label for="code">Mã kho</label>
                      <input type="text" class="form-control" id="code" aria-describedby="codeHelp" placeholder="Nhập mã kho hàng">
                    </div>
                    <div class="form-group">
                      <label for="cateName">Tên kho</label>
                      <input type="text" class="form-control" id="cateName" placeholder="Nhập tên kho">
                    </div>
                    <div class="form-group">
                      <label for="cateDes">Mô tả</label>
                      <input type="text" class="form-control" id="cateDes" placeholder="">
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                  <button type="button" class="btn btn-primary" onclick="addCategory()">Thêm</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Delete-->
      <div class="row">
        <div class="col-lg-12" >
          <div class="modal fade" id="formDeleteCategory" tabindex="-1" role="dialog" aria-labelledby="deleteCateCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header" style="display:flex;justify-content:space-between;">
                  <h3 class="modal-title" id="deleteCaLongTitle" style="font-weight: bold">Xóa nhóm hàng</h3>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Bạn có chắc muốn xóa nhóm hàng này không?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Hủy</button>
                  <button type="button" class="btn btn-danger" onclick="deleteCate()">Xóa</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- /.row -->
      <div class="row" >
        <div class="col-lg-12" >
          <table class="table">
            <thead class="thead-dark">
            <tr>
              <th scope="col"> <input type="checkbox" id="validCheck" value=""> </th>
              <th scope="col">STT</th>
              <th scope="col">Mã nhóm hàng</th>
              <th scope="col" >Tên nhóm hàng</th>
              <th scope="col" >Mô tả</th>
              <th scope="col"> Edit </th>
            </tr>
            </thead>
            <tbody id="categoryTable">
            </tbody>
          </table>

        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /#page-wrapper -->

</div>
<div th:replace="~{fragments/layoutAdmin::jscript}"></div>
<script th:src="@{/js/locationstore.js}"></script>


</body>
</html>
