<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="~{fragments/layoutAdmin::header(pageTitle='Bán hàng')}"></div>
    <link th:href="@{/css/combotemp.css}" rel="stylesheet">
    <link th:href="@{/css/sell.css}" rel="stylesheet">
</head>
<body>

<div id="wrapper">
    <!-- Navigation -->
    <div th:replace="~{fragments/layoutAdmin::navigation}"></div>

    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12" style="display:flex;justify-content:space-between;align-items:center;">
                    <h1 class="page-header">Tạo Combo</h1>
                    <div>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#formAdd"> Tạo</button>
                        <button type="button" class="btn btn-danger" id="huy-btn"> Hủy</button>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-12" >
                    <div class="modal fade" id="formAdd" tabindex="-1" role="dialog"  aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header" style="display:flex;justify-content:space-between;">
                                    <h3 class="modal-title" style="font-weight: bold">Tạo Combo</h3>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">

                                    <form>
                                        <div class="form-group">
                                            <label for="comboName">Tên Combo</label>
                                            <input type="text" class="form-control" id="comboName"
                                                   aria-describedby="codeHelp">
                                        </div>
                                        <div class="form-group">
                                            <label for="price">Giá</label>
                                            <input type="text" class="form-control" id="price">
                                        </div>
                                    </form>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                    <button type="button" class="btn btn-primary" onclick="addCombo()">Tạo</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="cart-table clearfix">
                        <table class="table table-responsive" tabindex="1" style="overflow: hidden; outline: none;">
                            <thead>
                            <tr>
                                <th>Tên hàng</th>
                                <th>S.L</th>
                                <th>Giá</th>
                                <th>Giảm</th>
                                <th>T.Tiền</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody id="listCartTemp" >
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-6" style="background-color: #F5F5F5">
                    <div class="row" style="background-color: #a16334">
                        <div class="col-lg-12" style="display: flex; flex-direction: row-reverse;">
                            <div class="dropdown">
                                <button class="btn dropdown-toggle" style="background-color: #a16334;margin-right: 10px; color: white" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-tags"></i> Nhóm hàng <i class="fa fa-angle-down" aria-hidden="true"></i>
                                </button>
                                <div class="dropdown-menu dropdown-content" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" th:value="${categories.id}" th:each="categories:${categoryList}" th:text="${categories.name}"></a>
                                    <a id="comboCa">Combo</a>

                                </div>
                            </div>
                            <button id="allProduct" style="background-color: white;margin-right: 10px;">Tất cả hàng hóa</button>

                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-12" id="listProduct"></div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <!-- Pagination -->
                            <nav id="navPagination" aria-label="navigation">
                                <ul class="pagination justify-content-end mt-50" id="pagination">
                                </ul>
                            </nav>
                        </div>
                    </div>

                </div>

            </div>
            <div class="row">
                <div class="col-lg-12">
                    <button id="luuhoadon">Lưu Hóa Đơn</button>
                    <button id="inhoadon">In Hóa Đơn</button>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->

</div>

<div th:replace="~{fragments/layoutAdmin::jscript}"></div>
<script th:src="@{/js/sell.js}"></script>
</body>
</html>
