<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="~{fragments/layoutAdmin::header(pageTitle='Bán hàng')}"></div>
    <link th:href="@{/css/combotemp.css}" rel="stylesheet">
    <link th:href="@{/css/sell.css}" rel="stylesheet">
    <link th:href="@{/css/receipt.css}" rel="stylesheet">
    <link th:href="@{/css/print.min.css}" rel="stylesheet">
    <script th:src="@{/js/print.min.js}"></script>
</head>
<body>

<div id="wrapper">
    <!-- Navigation -->
    <div th:replace="~{fragments/layoutAdmin::navigation}"></div>
    <script> document.querySelector(".navbar-default.sidebar").remove(); </script>
    <div>
        <div class="container-fluid" style="margin-top:51px;">
            <div class="row">
                <div class="col-lg-6">
                    <div class="cart-table clearfix">
                        <table class="table table-responsive" tabindex="1" style="overflow: hidden; outline: none;">
                            <thead>
                            <tr>
                                <th>Tên hàng</th>
                                <th>S.L</th>
                                <th>Giá</th>
                                <th>Giảm</th>
                                <th>T.Tiền</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody id="listCartTemp">
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-6" style="background-color: #F5F5F5">
                    <div class="row" style="background-color: #a16334">
                        <div class="col-lg-12" style="display: flex; flex-direction: row-reverse;">
                            <div class="dropdown">
                                <button class="btn dropdown-toggle"
                                        style="background-color: #a16334;margin-right: 10px; color: white" type="button"
                                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                    <i class="fa fa-tags"></i> Nhóm hàng <i class="fa fa-angle-down"
                                                                            aria-hidden="true"></i>
                                </button>
                                <div class="dropdown-menu dropdown-content" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" th:value="${categories.id}"
                                       th:each="categories:${categoryList}" th:text="${categories.name}"></a>
                                    <a id="comboCa">Combo</a>

                                </div>
                            </div>
                            <button id="allProduct" style="background-color: white;margin-right: 10px;">Tất cả hàng
                                hóa
                            </button>

                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-12" id="listProduct"></div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <!-- Pagination -->
                            <nav id="navPagination" aria-label="navigation">
                                <ul class="pagination justify-content-end mt-50" id="pagination">
                                </ul>
                            </nav>
                        </div>
                    </div>

                </div>

            </div>
            <div class="row">
                <div class="col-lg-12">
                    <button id="luuhoadon">Lưu Hóa Đơn</button>
                    <button id="inhoadon" onclick="printInvoice()">In Hóa Đơn</button>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
    <div class="container" style="display:none">
        <div class="row" id="receipt">
            <div class="col-xs-12">
                <div class="grid invoice">
                    <div class="grid-body">
                        <div class="invoice-title" style="text-align:center">
                            <div class="row">
                                <div class="col-xs-12">
                                    <img src="/img/page/logo.png" alt="logo" height="90" style="position:relative;left:8px;">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-xs-12">
                                    <h2 style="color:black;">
                                        Yến Thị | Nàng Mật <br>
                                        <span class="small">351 Lê Thánh Tông, TP.Buôn Ma Thuột</span> <br>
                                        <span class="small">Điện thoại: 0327.555.777</span> <br><br>
                                        Hóa Đơn Mua Hàng
                                    </h2>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-xs-12 col-lg-12 col-md-12">
                                <address>
                                    <strong>HD:<span id="sohoadon"></span> </strong><br>
                                    Thu Ngân: <span id="thungan">Nguyên</span><br>
                                    Khách hàng: <span id="khachhang">Dương</span><br>
                                    Ngày lập:<span id="ngaylap"></span><br>
                                </address>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-striped">
                                    <thead>
                                    <tr class="line">
                                        <td><strong>#</strong></td>
                                        <td class="text-left"><strong>Tên hàng</strong></td>
                                        <td class="text-center"><strong>Số lượng</strong></td>
                                        <td class="text-center"><strong>Đơn giá</strong></td>
                                        <td class="text-center"><strong>CK</strong></td>
                                        <td class="text-right"><strong>T.Tiền</strong></td>
                                    </tr>
                                    </thead>
                                    <tbody id="listProductReceipt">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center identity" style="text-align: center"><i>Cảm ơn quý khách, hẹn gặp lại </i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-wrapper -->

</div>

<div th:replace="~{fragments/layoutAdmin::jscript}"></div>
<script th:src="@{/js/sell.js}"></script>
<script th:src="@{/js/receipt.js}"></script>
</body>
</html>
